ELK/AwsELK/group_vars/all
all
.DS_Store
.vagrant
.foreman
.irb_history
.powrc
.rbenv-version
.ruby-version
.tm_properties
CREDENTIALS
*.pid
*.tmproj
*.swp
*.sparsebundle
/rerun.txt
/.bin/
/.bundle/config
/db/*.sqlite*
/dragonfly
/vendor/jruby
/vendor/rbx
/vendor/ruby
